<VirtualHost *:8983>
  ServerAdmin webmaster@localhost

  ServerName localhost

  ErrorLog "/var/log/apache2/solr-proxy-error.log"
  CustomLog "/var/log/apache2/solr-proxy-access.log" combined

  ProxyPreserveHost On
  ProxyPass / http://solr4-docker.dev:8983/
  ProxyPassReverse / http://solr4-docker.dev:8983/
</VirtualHost>
