[mysqld]
character-set-server=utf8
collation-server=utf8_general_ci
innodb_file_per_table = 1
innodb_file_format = barracuda
innodb_buffer_pool_size = 300M
innodb_log_file_size = 200M
innodb_log_buffer_size = 8M
innodb_buffer_pool_instances = 8
key_buffer              = 36M
max_allowed_packet      = 125M
thread_stack            = 192K
thread_cache_size       = 8
innodb_lock_wait_timeout = 180
innodb_flush_log_at_trx_commit = 0
innodb_support_xa = 0
